<div class="parsons-header">
  <app-toolbar [username]="username"></app-toolbar>
</div>

<div class="row">
  <div class="col-12">
    <select
      class="btn-primary selector"
      [(ngModel)]="selectedSection"
      (change)="loadQuestionsBySection()"
    >
      <option *ngFor="let section of sections" [value]="section.id">{{ section.name }}</option>
    </select>
  </div>
</div>


<!-- Dynamic Component Loading -->
<div class="row">
  <div class="col-12">
    <ng-container *ngIf="selectedSection === 1">
      <app-parsons-easy [questions]="questions" [currentQuestion]="currentQuestion"></app-parsons-easy>
    </ng-container>

    <ng-container *ngIf="selectedSection === 2">
      <app-parsons-columns [questions]="questions" [currentQuestion]="currentQuestion"></app-parsons-columns>
    </ng-container>

    <ng-container *ngIf="selectedSection === 3">
      <app-parsons-relations [questions]="questions" [currentQuestion]="currentQuestion"></app-parsons-relations>
    </ng-container>
  </div>
</div>
