<div style="text-align: center; margin: 20px;">
  <button class="btn btn-primary" (click)="openGameModal()">Tutorial</button>
</div>

<!-- Custom Modal using our app-modal component for Game -->
<app-app-modal
  [titleGame]="titleGame"
  [showModalGame]="showModalGame"
  (closeModalGame)="closeGameModal()">
</app-app-modal>


<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="question-container blue-animation">
      <span *ngIf="currentQuestion" class="question-text">
        {{ currentQuestion.QUESTION }}
      </span>
    </div>

    <div class="table-show-hide">
      <!-- Sliding Div -->
      <div class="sliding-div" [class.show]="showTable">
        <div
          [innerHTML]="currentQuestion?.HTML_CONTENT"
          class="modal-table-content styled-dynamic-content"
        ></div>
      </div>

      <!-- Toggle Button -->
      <div class="button-container">
        <button class="btn-primary" (click)="toggleTable()">
          {{ showTable ? 'Hide' : 'Show' }}
          <img src="/assets/images/table.png" class="table-icon" />
        </button>
      </div>

    </div>
  </div>

  <div class="col-3 center-items"></div>
</div>



<app-app-modal
  [titleInstruction]="instructionModalTitle" 
  [contentInstruction]="instructionModalContent" 
  [showModalInstruction]="showInstructionModal" 
  (closeModalInstruction)="closeInstructionModal()"
  [isInstruction]="true">
</app-app-modal>

<app-app-modal
  [titleSummary]="SummaryModalTitle" 
  [contentSummary]="summaryModalContent" 
  [showModalSummary]="showSummaryModal" 
  (closeModalSummary)="closeSummaryModal()"
  [isInstruction]="false">
</app-app-modal>


<!-- Professor Icon Button -->
<button class="professor-hint-btn" (click)="professorSpeech.toggleProfessorModal()">
  <img src="assets/novel/ai/splitter/splitter_standing.png" alt="Professor Splitter" />
  Hulp van Prof. Splitter
</button>

<!-- Professor Speech Component -->
<app-professor-speech 
  #professorSpeech
  [dialogues]="splitterDialoges" 
  [characterImage]="'assets/novel/ai/splitter/splitter_standing.png'" 
  [professorName]="'Professor Splitter'">
</app-professor-speech>



<div class="row">
  <div class="col-12 d-flex" *ngIf="currentQuestion; else loading">
    <div class="col-2"></div>

    <div class="col-4">
      <div class="example-container">
        <!-- Dynamic Label -->
        <span class="widget-text">Drag from here..</span>
        <div
          cdkDropList
          id="trashList"
          [cdkDropListData]="currentQuestion.CODE || []"
          [cdkDropListConnectedTo]="['sortableList']"
          class="example-list"
          cdkDropListSortingEnabled
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of currentQuestion?.CODE" cdkDrag class="example-box">
            {{ item.text }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="example-container">
        <span class="widget-text">
          Drop <span class="drag-number">{{ remainingItems }}</span> items here..
        </span>
        <div
          cdkDropList
          id="sortableList"
          [cdkDropListData]="currentItems"
          [cdkDropListConnectedTo]="['trashList']"
          class="example-list"
          cdkDropListSortingEnabled
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of currentItems" cdkDrag class="example-box">
            {{ item.text }}
            <div *ngIf="feedbackGiven" class="feedback-text"
  [ngClass]="{
    'feedback-correct': highlightedStatus[item.codeLineId] === 'correct',
    'feedback-incorrect': highlightedStatus[item.codeLineId] === 'incorrect'
  }">
  {{ feedbackMessages[item.codeLineId] || 'No feedback available' }}
</div>

          </div>
        </div>

        <div class="progress-indicator">
          <div class="progress-circle">
            <span class="progress-value">{{ progressText }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2"></div>
  </div>
</div>

<ng-template #loading>
  <p class="loading-text">Loading questions, please wait...</p>
</ng-template>

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <div class="button-container d-flex justify-content-center align-items-center">
      <button class="btn-primary" (click)="toggleInstructionModal()">Show Instructions</button>

      <button class="btn-secondary" (click)="clickResetPuzzle()">Reset Puzzle</button>
      <button class="btn-primary btn-feedback" (click)="getFeedback()">Get Feedback</button>
      <button
        class="btn-next"
        *ngIf="showNextButton"
        (click)="navigateToNextQuestion()"
      >
        Next Stage
      </button>

     
      <!-- Question Selector -->
      <select
        class="btn-primary selector"
        id="question-selector"
        [(ngModel)]="selectedQuestionID"
        (change)="loadQuestionDetails(selectedQuestionID)"
      >
        <option *ngFor="let question of questions" [value]="question.QUESTION_ID">
          Exercise {{ questions.indexOf(question) + 1 }}
        </option>
      </select>
    </div>
  </div>
</div>
